{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}
500 Error
{% endblock %}
{% block content %}
    <section id="error-page">
        <div class="error-page-inner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <h2>ERROR 500 : PAGE NOT FOUND</h2>
                            <p>The page you are looking for might have been removed, had its name changed.</p>
                            <a href="/" class="btn btn-error">RETURN TO THE HOMEPAGE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
