{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block head_title %}
{{name}}:
{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
<!-- *****************************************************************************************************************
TITLE WRAP
***************************************************************************************************************** -->
<section id="page-breadcrumb">
	<div class="vertical-center sun">
		 <div class="container">
			<div class="row">
				<div class="action">
					<div class="col-sm-12" >
						<h1 class="title">{{name}}</h1>
						{% if message %}
						<p ><a href="/{{section}}"><span class="glyphicon glyphicon-refresh" style="color:black"></span></a>&nbsp;&nbsp;&nbsp;{{message}}</p>
						<a href="../{{section}}/create"><img src='{% static "images/add_new.png" %}' height="50px" width="50px" alt="Create" style="position: absolute;right: 0px;bottom:25px;"> </a>
						{% else %}
						<a href="../{{section}}/create"><img src='{% static "images/add_new.png" %}' height="50px" width="50px" alt="Create" style="position: absolute;right: 0px;bottom:0px;"> </a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/#page-breadcrumb-->
<!-- *****************************************************************************************************************
BLOG CONTENT
***************************************************************************************************************** -->

<section id="blog" class="padding-top">
<div class="container">
	<div class="row">
		<div class="col-md-9 col-sm-7">
			<div class="row">
			{%if length == 0 %}
			<h2>No {{name}} here !</h2>
			<p><a href="create">Create one here !</a></p>
			{% endif %}
			{% if section == "packages" %}
			<div class="masonery_area">
			<table align="center" cellpadding="30" style="width:100%">
			<tr style="border-bottom:1pt solid black;">
				<td style="vertical-align: center;horizontal-align:center;padding:15px;"><h2>Title</h2></td>
				<td style="vertical-align: center;padding:15px;"><h2>Abstract</h2></td>
				<td style="vertical-align: center;padding:15px;"><h2>Tags</h2></td>
			 </tr>
			{% for single_obj in obj %}
			<tr style="border-bottom:1pt dotted gray;">
				<td style="vertical-align: center;padding:15px;"><a href="../{{section}}/{{single_obj.slug}}"><h3><b>{{single_obj.title}}</b></h3></a></td>
				<td style="vertical-align: center;padding:15px;">{% autoescape off %}{{single_obj.abstract}}{% endautoescape %}</td>
				<td style="vertical-align: center;padding:15px;color:black"><i class="fa fa-tag">&nbsp;&nbsp;{% for tag in single_obj.tags.all|sort_tags %}{{tag}}&nbsp;&nbsp;&nbsp; {% endfor %}</i></td>
			  </tr>
			{% endfor %}
			</table>
		</div>
			{% else %}
			{% for single_obj in obj %}
			<div class="col-sm-12 col-md-12">
				<div class="single-blog single-column">
					<div class="post-content overflow">
						<h2 class="post-title bold"><a href="../{{section}}/{{single_obj.slug}}">{% autoescape off %}{{single_obj.title}}{% endautoescape %}</a></h2>
						<h3 class="post-author"><a>Posted by <b>{% for users in single_obj.authors.all %}{{users.username}}{% endfor %}</b></a></h3>
						{% if section == "events" %}
							<p><b>Start Date :</b>{{single_obj.start_date_time|date}}</p>
							{% if single_obj.website %}
							<p><b>Website :</b><a href="{{single_obj.website}}">{{single_obj.website}}</a></p>
							{% endif %}
						{% else %}
							{% if single_obj.abstract %}
							<p><b>Abstract :</b>{% autoescape off %}{{single_obj.abstract}}{% endautoescape %}</p>
							{% else %}
							{% filter truncatechars:350 %}
							<p>{{single_obj.body|raw_content}}</p>
							{% endfilter %}
							{% endif %}
						{% endif %}
						<a href="{{single_obj.slug}}" class="read-more">View More</a>
						<div class="post-bottom overflow">
							<ul class="nav navbar-nav post-nav">
							{% if single_obj.tags.all %}
								<li><a><i class="fa fa-tag">&nbsp;&nbsp;{% for tag in single_obj.tags.all|sort_tags %}{{tag}}&nbsp;&nbsp;&nbsp; {% endfor %}</i></a> </li>
							{% endif %}
								<li><a><i class="fa fa-heart"></i>{{single_obj.total_upvotes}} Love</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		{% endif %}
		</div>
		 <div class="blog-pagination">
		{% if  obj.paginator.num_pages > 1 %}
				<ul class="pagination">
					{% if obj.has_previous %}
						<li><a href="?page={{ obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					{% else %}
						<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					{% endif %}
					{% for num in range %}
						{% if num == obj.number %}
							<li class="active"><a href="#">{{num}} <span class="sr-only">(current)</span></a></li>
						{% else %}
							<li><a href="?page={{num}}">{{num}}</a></li>
						{% endif %}
					{% endfor %}
					{% if obj.has_next %}
						<li><a href="?page={{ obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
					{% else %}
						<li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
					{% endif %}
				</ul>
		{% endif %}
		</div>
		</div>
	{% include 'sidebar.html' %}
	</div>
</div>
</section>


{% endblock %}